@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    /* ## Colors */

    /* ### Primary */

    --intro-and-email-sign-up-bg: hsl(217, 28%, 15%);
    --main-bg: hsl(218, 28%, 13%);
    --footer-bg: hsl(216, 53%, 9%);
    --testimonials-bg: hsl(219, 30%, 18%);

    /* ### Accent */

    --Cyan-inside-call-to-action: hsl(176, 68%, 64%);
    --Blue-inside-call-to-action: hsl(198, 60%, 50%);
    --error-color: hsl(0, 100%, 63%);
}

body {
    background-color: var(--main-bg);
}


nav a.logo {
    background-image: url('./images/logo.svg');
    background-size: contain;
}

button.get-started {
    background-color: var(--Blue-inside-call-to-action);
}

button.get-started:hover {
    background-color: var(--Cyan-inside-call-to-action);
}

div.intro {
    background-image: url('./images/illustration-intro.png');
    background-size: cover;
    aspect-ratio: 720 / 534;
}

p#Access {
    background-image: url('./images/icon-access-anywhere.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

p#Security {
    background-image: url('./images/icon-security.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

p#Real-time {
    background-image: url('./images/icon-collaboration.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

p#Store {
    background-image: url('./images/icon-any-file.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

div.productive {
    background-image: url("./images/illustration-stay-productive.png");
    background-size: cover;
    aspect-ratio: 615 / 465;
}

a.see-how-fylo-works {
    color: var(--Cyan-inside-call-to-action);
    width: fit-content;
    padding-right: 1.5rem;
    background: url('./images/icon-arrow.svg') no-repeat right;
    background-size: 1.3rem;
}

div.testimony {
    background-color: var(--testimonials-bg);
}